.contact {
    color: white;
    width: 80%;
    
    /* height: 120vh; */
    margin-top: 50px;
    padding: 20px;
    padding-top: 70px;

}

.contact-wrap {
    width: max-content;
    font-family: "Istwok web", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

    h5 {
        color: gray;
        font-size: 30px;
        font-weight: 100;

    }
}

.contact-top {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: flex-start;
    margin-bottom: 10vh;
    justify-content: space-between;
    width: 60%;
    /* background-color: red; */
}

.name {
    display: flex;
    gap: 10px;
    
    
    font-size: 50px;
    font-family: "Istwok web", sans-serif;
    color: gray;

    h4 {
        font-weight: 100;
       
        line-height: 45px;
    }
}

.lets-talk {
    cursor: pointer;
    border: 1px solid gray;
    padding: 12px 24px;
    font-size: 20px;
    letter-spacing: 1px;
    width: max-content;
    border-radius: 28px;
    font-family: "Istwok web", sans-serif;
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 500ms;
}

.lets-talk:hover {
    color: yellow;
    padding-right: 40px;
    gap: 20px;
    border: 1px solid yellow;
}

.social {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    /* background-color: red; */
    /* gap: 10px; */

    h3 {
        color: yellow;
        font-family: "Istwok web", sans-serif;
        font-weight: 100;
    }



}

.social-items {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    /* background-color: wheat; */
    /* align-self: flex-end; */
    /* align-items: center; */
    gap: 6px;
    
    

    span {
        color: rgb(208, 179, 179);
        /* opacity: .7; */
        font-family: "Istwok web", sans-serif;
        font-weight: 100;
        transition: all 100ms;
        cursor: pointer;
        font-size: 17px;
        /* margin: 2px; */
        padding:15px 20px;
        width: 20vw;
        background-color: rgb(255, 0, 0);
        /* border-radius: 40px; */
        text-align: center;
        

    }

    span:hover {
        color: yellow;
        opacity: .9;
    }
}

.connect {
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 1%;
    padding: 20px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 0;
}

.connect-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}
.email-contact{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 200;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.connect-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: flex-end;
    gap: 10px;
    /* background-color: red; */
    position: relative;

}

.send-msg-btn {

    background-color:rgb(98, 100, 187);
    color: rgb(255, 255, 255);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    /* border-radius: 10px; */
    position: absolute;
    bottom: 14px;
    right: 14px;
    font-size: 25px;
    border: none;
    


}
.send-msg-err{
    background-color: #fe3c01;
    width:max-content;
    position: absolute;
    bottom: 20px;
    color: white;
    font-family: "Istok web",sans-serif;
    font-size: 20px;
    border-radius: 30px;
    right: 3px;
    border: none;
    overflow: none;
    padding:10px 20px;
    cursor: pointer;
    height: 55px;
}


.text {
    min-width: 35vw;
    height: 40vh;
    background-color: rgb(129, 131, 211);
    /* border: 1px solid white; */
    padding: 22px;
    font-family: "Iswork web", sans-serif;
    color:rgb(182, 183, 255);
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    
}

.name-input {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h6 {
        font-size: 22px;
        font-family: "Istwok web", sans-serif;
        font-weight: 100;
    }

    input {
        height: 30px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: rgb(129, 131, 211);
        font-size: 20px;
        opacity: 0.8;
    }

}

#text-area {
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    outline: none;
    color: white;
}

.input-connect::placeholder {
    opacity: .4;


}

.box-name {
    font-size: 34px;
    margin-top: 20px;
}

.box-project {
    font-size: 20px;
    word-wrap: break-word;
    
}
.saved{
    width: max-content;
    /* background-color: red; */
    /* color: rgb(129, 131, 211); */
    color: white;

    text-align: center;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    position: fixed;
    gap:5px;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 40px;
    border: 1px solid white;
    padding: 20px 50px;
    animation: saved 500ms forwards;
    opacity: 0;
    align-items: flex-start;
    h1{
        font-size: 20px;
        align-items: center;
        justify-self: center;
        font-family: "Manrope",sans-serif;
        font-weight: 500;
    }
    
    
}
.conn-tick{
    font-size: 24px;
    
}
@keyframes saved {
    from{
        margin-top: 70px;
    }
    to{
        opacity: 1;
    }
    
}
@media (max-width:600px) {
    .contact {
        width: 90%;
        padding: 0;
        padding-top: 55Px;
    }

    

    
    .name {
        /* align-self: flex-end; */
        margin-top: 20px;
        flex-direction: row;
        gap: 7px;

        h4 {
            font-size: 30px;
            line-height: 34px;
        }
    }

    .contact-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .connect {
        flex-direction: column;
        gap: 60px;
        margin-top: 2px;
    }

    .connect-left {
        width: 100%;
    }

    .connect-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .send-msg-btn {
        width: 50%;
        align-self: flex-start;
        /* bottom: 20%; */
        border-radius: 30px;
        margin-top: 1px;
        font-weight: 550;
        font-size: 15px;
        
    }

    .email-contact{
        top: 90%;
        right: 10px;
        font-size: 18px
    }
    .text {
        width: 85vw;
        font-size: 12px;
        /* align-items: center; */
        font-weight: 550;
        height: 54vh;
    }
    .social-items{
        gap: 5px;
    }

    .send-msg-btn {
        width: 60px;
        height: 60px;
        top: 72%;
        font-size: 20px;
    }
    .saved{
        top: 85%;
        padding: 13px;
        /* font-weight: 600; */
        h1{
            margin-top: 3px;
            font-size: 12px;
        }
    }

    .input-connect {
        border-radius: 0;
    }

}