.hero{
    width: 80%;
    /* border: 1px solid white; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 20px;
    padding-top: 140px;
    position: relative;

    

    
}
.hero-1{
    display: flex;
    flex-direction: column;
    height: 75vh;  
    justify-content: space-between; 

}
.hero-top{
    display: flex;
    flex-direction: column;
    font-size: 110px;
    line-height: 110px;
    font-family: "Italiana", sans-serif;
    position: relative;
    /* background-color: red; */
    
   
}
.hero-2{
    
    
    color: yellow;
    left: 70%;
    transform: translateX(-10%);
    font-size: 20px;
    top: 65%;
    position: absolute;
    animation: hero-2 500ms 1.5s forwards;
    opacity: 0;

    width: max-content;
    h1{
        /* opacity: 0; */
        font-family: "Italiana",sans-serif;
        /* animation: react   1000ms  infinite; */
    }
   
}
@keyframes hero-2 {
    to{
        opacity: 0.15;
    }
    
}
@keyframes react {
    from{
        opacity: 0;
        
    }
   
   to{
    
    opacity: 1;
   }
   
    
}


.web{
    animation: web 600ms 400ms forwards;
    opacity: 0;
}

@keyframes web {
    from{
        transform: translateX(40px);
    }
    to{
    opacity: 1;
    }
    
}
.dev{
    animation: dev 600ms 700ms forwards;
    opacity: 0;
}

@keyframes dev {
    from{
        transform: translateX(40px);
    }
    to{
    opacity: 1;
    }
    
}
.des{
    animation: des 600ms 1000ms forwards;
    opacity: 0;
}

@keyframes des {
    from{
         transform: translateX(40px);
         
         /* transform: scaleY(1.5); */
    }
    to{
    opacity: 1;
    }
    
}

.hero-bottom{
    width: 60%;
    
    span{
        font-family: "Redacted Script", cursive;
        font-weight: 100;
        font-size: 12px
        
    };
}
.hero-bottom-text{
    animation: hero-btm 1s 1400ms forwards;
    opacity: 0;
    font-family: "Josephin Sans ",sans-serif;
        font-style: italic;
        font-weight: 100;
        color: #797979;
        font-size: 16px;

}
@keyframes hero-btm {
    from{
        transform: translateY(10px);
    }
    to{
        opacity: 1;
    }
    
}
.lorem{
    animation: lorem 1s 1650ms forwards;
    opacity: 0;

}
@keyframes lorem {
    from{
        transform: translateY(10px);
    }
    to{
        opacity: 1;
    }
    
}
@media (max-width:560px) {
    .hero-text{
        font-size: 60px;
        line-height: 65px;
    }
    .hero{
        /* background-color: red; */
        height: 60vh;
        width: 90%;
        margin-top: 30px;
        padding-top: 80px;
    }
    .hero-2{
        left: 72%;
        top: 36%;
        transform: translateX(-60%);
     
        width: max-content;
    }
    .react{
        font-size: 29px;
    }
    .hero-bottom{
        width: 100%;
        /* background-color: red; */
    }
   
    .hero-bottom-text{
        font-size: 13px;
    }
    .hero-1{
        justify-content: space-around;
        /* background-color: red; */
        width: 100%;
    }
    
}