.main{
    max-width: 100%;
    /* border: 1px solid red; */
    background-color: #000;
    display: flex;
    padding-bottom: 69px;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
   
}
